<!DOCTYPE html>
<html>
<head>
    <style>
        p {
            font-size: 30px;
        }

        li {
            font-size: 40px;
            color: darkgreen;
        }

        h1 {
            font-size: 80px;
            color: darkblue;
        }

        body {
            padding-top: 100px;
            padding-right: 100px;
            padding-bottom: 100px;
            padding-left: 100px;
        }

        input {
            margin-top: 30px;
            font-size: 30px;
        }

    </style>
</head>
<body>
@RenderBody()
</body>
</html>
