<h1>SaintModeCache Demo</h1>
<p>This page demos an example of using SaintModeCache.Net to optimise performance. If requires data from a fake data service that takes 5 seconds to respond.</p>
<p>Only one thread will ever retrieve the data. If no data is in the cache then all requests will block, whilst one thread fetches data.</p>
<p>Data is refreshed in background for every cache expire. Absolute expiration of 10 seconds is used.</p>
<p>Refresh the page to see caching behaviour.</p>
<ul>
    <li><b>Key:</b> @Model.CacheKey</li>
    <li><b>Value:</b> @Model.Value</li>
    <li><b>Is Stale:</b> @Model.Stale</li>
</ul>
<input type="button" value="Refresh Page" onClick="window.location.reload()">